<div class="community">
  <div class="community-hero">
    <div class="community-hero-content">
      <h1>Join our community</h1>

      <div class="media-icons">
        @for (icon of icons; track $index) {
          <a class="icon-link" [href]="icon.link" target="_blank">
            <img
              class="icon"
              [src]="icon.media_icon"
              alt="social media icon"
            />
          </a>
        }
      </div>
    </div>

    <img
      src="assets/projects-img.png"
      alt="community illustration"
    />
  </div>

  <div class="team-details">
    <p class="team-caption">Top Contributors</p>

    @if (!isLoading && users?.length) {
      <div class="team">
        <div class="team-align">
          @for (user of users; track $index) {

            <div class="card">

              <img
                class="user-avatar"
                [src]="user.avatar_url"
                [alt]="user.login"
              />

              <div class="card-data">
                <a
                  class="user-name"
                  [href]="'https://github.com/' + user.login"
                  target="_blank"
                >
                  {{ user.login }}
                </a>

                <p class="user-designation">
                  {{ user.contributions }} commits
                </p>
              </div>

            </div>

          }
        </div>
      </div>
    }
  </div>
</div>