<div class="community">
  <div class="community-hero">
    <div class="community-hero-content">
      <h1>Join our community</h1>
      <div class="media-icons">
        @for (icon of icons; track $index) {
        <a class="icon-link" href="{{ icon.link }}"
          ><img class="icon" src="{{ icon.media_icon }}"
        /></a>
        }
      </div>
    </div>
    <img src="../../../assets/projects-img.png" alt="community" />
  </div>

  <div class="team-details">
    <p class="team-caption">Meet the team</p>
    <p class="team-description">
      Dedicated individuals who are pushing the boundaries of technology
    </p>
    <div class="team">
      <div class="team-align">
        @for(user of users; track $index){
        <div class="card">
          <div class="card-data">
            <p class="user-name">
              {{ user.contributor_name }}
            </p>
            <p class="user-designation">C2SI Contributor</p>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
