version: "3.8"

services:
  webiu-server:
    build:
      context: ./webiu-server
    container_name: webiu-server
    ports:
      - 5050:5050
    env_file:
      - ./webiu-server/.env
    environment:
      - NODE_ENV=production

  webiu-ui:
    build:
      context: ./webiu-ui
    container_name: webiu-ui
    ports:
      - 4200:80
    depends_on:
      - webiu-server
