version: "3.8"

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  webiu-server:
    build:
      context: ./webiu-server
    container_name: webiu-server
    ports:
      - 5050:5050
    environment:
      - NODE_ENV=development
    volumes:
      - ./webiu-server:/usr/src/app
    command: ["npm", "start"]
    depends_on:
      - redis

  webiu-ui:
    build:
      context: ./webiu-ui
    container_name: webiu-ui
    volumes:
      - ./webiu-ui:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - 4200:4200
    expose:
      - 4200
    depends_on:
      - webiu-server
