.main {
    margin-top:  5%;
}
.search-components {
    display: flex;
    justify-content: center;
}

.search-bar {
    border-radius: 5px;
    border: 2px solid var(--Gray-5, #E0E0E0);
    background: var(--Gray-6, #F2F2F2);
    justify-self: center;
    width: 50%;
    cursor: pointer;
    padding: 1% 2%;
}

.search-button {
    background-color: #2f80ed;
    color: white;
    align-content: center;
    display: flex;
    cursor: pointer;
    justify-content: center;
    border-radius: 5px;
    padding: 1% 2%;
    margin-left: 2%;
}


.repo-filter {
    margin-top: 2%;
    display: flex;
    align-items: center;
    
}



.contributers-context {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2%;
    margin-top: 1%;
}


.repo-selection {
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 5%;
    align-items: center;
}

.search-button {
    margin-top: 0.1%;
}
     

/* Media Queries */
@media (max-width: 1200px) {
    .contributers-context {
        grid-template-columns: repeat(3, 1fr);
    }
    .box{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 992px) {
    .search-font{
        display: none;
    }
    .contributers-context {
        grid-template-columns: repeat(2, 1fr);
    }
    .search-text{
        display: none;
    }
}

@media (max-width: 500px) {
    .contributers-context {
        grid-template-columns: repeat(1, 1fr);
    }
    .search-components{
        margin-left: 10%;
    }
}

