<div class="navbar">
  <img src="../../../assets/c2silogo-dark.png" alt="C2SI Logo" class="logo" />

  <div class="navbar__menu">
    <div class="navbar__menu__items">
      <img src="../../../assets/home.svg" alt="Home Icon" />
      <p>Home</p>
    </div>
    <div class="navbar__menu__items">
      <img src="../../../assets/projects.svg" alt="Projects Icon" />
      <p>Project</p>
    </div>
    <div class="navbar__menu__items">
      <img src="../../../assets/publications.svg" alt="Publications Icon" />
      <p>Publications</p>
    </div>
    <div class="navbar__menu__items">
      <img src="../../../assets/contributors.svg" alt="Contributors Icon" />
      <p>Contributors</p>
    </div>
    <div class="navbar__menu__items">
      <img src="../../../assets/community.svg" alt="Community Icon" />
      <p>Community</p>
    </div>
    <div class="navbar__menu__items">
      <img src="../../../assets/gsoc.svg" alt="GSoC Icon" />
      <p>GSoC</p>
    </div>
  </div>
</div>
