.homepage {
    margin-top: 10%;
    display: flex;
    justify-content: center;
 
}

.details {

    width:fit-content;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.comm-img img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
}

.title {
    font-weight: bold;
    font-size: xxx-large;
    margin: 0;
    width: fit-content;
}

.description {
    margin-top: 1%;
    text-align: justify;
    width: fit-content;
    font-size: x-large;
    width: 90%;
}
