<div class="contributors-page">
  <section class="search-section">
    <div class="search-container">
      <div class="search-wrapper">
        <input
          type="text"
          class="search-input"
          placeholder="search contributors"
          [formControl]="searchText"
        />
        <button class="search-button" (click)="filterProfiles()">
          <span>search</span>
          <img src="../../../assets/search.svg" alt="Search Icon" />
        </button>
      </div>
    </div>
    <div class="filter-section">
      <span>Filter by repository</span>
      <select class="repository-select" (change)="onRepoChange($event)">
        <option value="">Select a Repository</option>
        <option *ngFor="let repo of allRepos" [value]="repo">{{ repo }}</option>
      </select>
    </div>
    <div class="contributors-card-container loading-spinner">
      <i
        class="fa fa-spinner fa-spin"
        style="font-size: 32px"
        *ngIf="isLoading; else content"
      ></i>
    </div>

    <div
      class="pagination"
      *ngIf="displayProfiles && displayProfiles.length > 0"
    >
      <button (click)="prevPage()" [disabled]="isLoading || currentPage === 1">
        Previous
      </button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button
        (click)="nextPage()"
        [disabled]="isLoading || currentPage === totalPages"
      >
        Next
      </button>
    </div>
  </section>
</div>
<ng-template #content>
  <div class="contributors-grid">
    <app-profile-card
      *ngFor="let profile of displayProfiles; trackBy: trackByFn"
      [login]="profile.login"
      [contributions]="profile.contributions"
      [avatar_url]="profile.avatar_url"
      [followers]="profile.followers"
      [following]="profile.following"
      (usernameClick)="onUsernameClick($event)"
    ></app-profile-card>
  </div>
  <p
    *ngIf="!isLoading && displayProfiles.length === 0"
    class="no-contributors-message"
  >
    No contributors found matching the search criteria
  </p>
</ng-template>
