<footer class="app-footer">
  <div class="footer-container">
    <div class="footer-column org-info">
      <img
        src="../../../assets/c2silogo-dark_no_bg.png"
        alt="C2SI Logo"
        class="footer-logo"
      />
      <p class="tagline">Empowering open-source innovation and community.</p>
      <p class="copyright">
        &copy; {{ currentYear }} C2SI. All rights reserved.
      </p>
    </div>

    <div class="footer-column">
      <h3>Navigation</h3>
      <ul>
        <li>
          <a routerLink="/projects" routerLinkActive="active">Projects</a>
        </li>
        <li>
          <a routerLink="/publications" routerLinkActive="active"
            >Publications</a
          >
        </li>
        <li>
          <a routerLink="/contributors" routerLinkActive="active"
            >Contributors</a
          >
        </li>
        <li>
          <a routerLink="/community" routerLinkActive="active">Community</a>
        </li>
        <li><a routerLink="/gsoc" routerLinkActive="active">GSoC</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Community</h3>
      <ul>
        <li>
          <a
            href="https://www.linkedin.com/company/c2siorg/"
            target="_blank"
            rel="noopener noreferrer"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://github.com/c2siorg"
            target="_blank"
            rel="noopener noreferrer"
            >GitHub</a
          >
        </li>
        <li>
          <a
            href="https://scorelab.org/"
            target="_blank"
            rel="noopener noreferrer"
            >Website</a
          >
        </li>
        <li>
          <a
            href="mailto:gsoc@c2si.com"
            target="_blank"
            rel="noopener noreferrer"
            >Email</a
          >
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>Opportunity</h3>
      <ul>
        <li><a routerLink="/opportunities" routerLinkActive="active">Opportunities</a></li>
      </ul>
    </div>
  </div>
</footer>
