.publications {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .publications-hero {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .publications-hero-content {
      h1 {
        color: var(--primary-dark, var(--primary-dark, #0a0a15));
        font-size: 48px;
        font-weight: 500;
        line-height: 150%;
      }

      p {
        color: var(--primary-dark, var(--primary-dark, #0a0a15));
        font-size: 16px;
        font-weight: light;
        line-height: 150%;
        max-width: 450px;
      }
    }
  }

  .publications-cards-container {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .publications {
    .publications-hero {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

      .publications-hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          max-width: 600px;
          text-align: center;
        }
      }
    }

    .publications-cards-container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 600px) {
  .publications {
    .publications-hero {
      img {
        width: 400px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .publications {
    .publications-hero {
      .publications-hero-content {
        h1 {
          font-size: 32px;
        }
      }
      img {
        width: 300px;
      }
    }
  }
}


.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 0.3s,
    visibility 0.3s;
  z-index: 1000;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }

  img {
    filter: brightness(0) invert(1); // Makes black arrow white
  }
}