<div class="projects">
  <div class="projects-hero">
    <div class="projects-hero-content">
      <h1>Our Projects</h1>
      <p>
        Discover a Spectrum of Innovative Projects done by the researchers at
        C2SI
      </p>
    </div>
    <img src="../../../assets/projects-img.png" alt="projects" />
  </div> 

  <!-- Search Box -->
  <div class="projects-search">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="filterProjectsByName()"  
      placeholder="Search by project name..."
    />
  </div>

  <div class="projects-cards-container">
    <app-projects-card
      *ngFor="let project of filteredProjects; trackBy: trackByProjectName"
      [name]="project.name"
      [description]="project.description || ''"
      [issue]="project.open_issues_count"
      [link]="project.html_url"
      [language]="project.language || ''"
      [topics]="project.topics"
      [createdAt]="project.created_at"
      [updatedAt]="project.updated_at"
    ></app-projects-card>
  </div>
  
</div>
    


