.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  .projects-hero {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .projects-hero-content {
      h1 {
        color: var(--primary-dark, var(--primary-dark, #0a0a15));
        font-size: 48px;
        font-weight: 500;
        line-height: 150%;
      }

      p {
        color: var(--primary-dark, var(--primary-dark, #0a0a15));
        font-size: 16px;
        font-weight: light;
        line-height: 150%;
      }
    }
  }

  .projects-cards-container {
    display: flex;
    padding: 30px;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    background: var(--Gray-6, #f2f2f2);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05) inset;
  }
}

@media screen and (max-width: 1100px) {
  .projects {
    .projects-hero {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;

      .projects-hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          max-width: 600px;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .projects {
    .projects-hero {
      img {
        width: 400px;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .projects {
    .projects-hero {
      .projects-hero-content {
        h1 {
          font-size: 32px;
        }
      }
      img {
        width: 300px;
      }
    }
  }
}
