<div class="projects">
  <div class="projects-hero">
    <div class="projects-hero-content">
      <h1>Our Projects</h1>
      <p>
        Discover a Spectrum of Innovative Projects done by the researchers at
        C2SI
      </p>
    </div>
    <img src="../../../assets/projects-img.png" alt="projects" />
  </div>

  <div class="projects-cards-container">
    <div class="projects-search">
      <div class="search-box-container">
        <span class="search-icon">🔍</span>
        <input type="text" class="search-box" placeholder="Search projects by name..." [(ngModel)]="searchTerm"
          (input)="filterProjects()" />
      </div>
    </div>

    @if (isLoading) {
      <app-loading-spinner message="Loading projects..."></app-loading-spinner>
    }

    @if (!isLoading) {
      @if (filteredProjects.length > 0) {
        @for (project of filteredProjects; track trackByProjectName($index, project)) {
          <app-projects-card [name]="project.name" [org]="org" [repo]="project.name"
            [description]="project.description || ''" [issue]="project.open_issues_count" [link]="project.html_url"
            [language]="project.language || ''" [topics]="project.topics" [createdAt]="project.created_at"
          [updatedAt]="project.updated_at" [pullRequests]="project.pull_requests"></app-projects-card>
        }
      } @else {
        <app-projects-card [name]="'No projects found.'"
          [description]="'Please enter a valid project name or check back later.'"
        class="no-projects"></app-projects-card>
      }
    }
  </div>

  <button class="back-to-top" (click)="scrollToTop()" [class.show]="showButton">
    <img src="../../../assets/up-arrow.svg" alt="Back to Top" width="24" height="24">
  </button>
</div>