.navbar {
  width: 100%;
  display: flex;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center;
  background: var(--navbar-bg);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.logo {
  width: 118.182px;
  height: 60px;
  flex-shrink: 0;
}

.navbar__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &.open {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    align-items: flex-start;
    width: auto;
    background: var(--navbar-bg);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.15);
  }

  .navbar__menu__items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 14px;
    gap: 8px;
    border-radius: 7px;
    background: var(--primary-white, var(--navbar-bg));
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;
  }

  /* Centering icon and text */
  .navbar__menu__items img {
    width: 24px; /* Adjust size as needed */
    height: 24px;
    display: inline-block;
  }

  .navbar__menu__items p {
    margin: 0;
    line-height: 1;
    color:var(--navbar-p);
  }

  /* Active state styling */
  .navbar__menu__items.active {
    background-color: var(--blue, #2f80ed);
    color: #fff;
  }

  .navbar__menu__items.active img {
    filter: invert(1);
  }

  .navbar__menu__items:hover {
    background: var(--blue, #2f80ed);
    color: #fff;
    p {
      color: #fff;
    }
  }

  .navbar__menu__items:hover img {
    filter: invert(1);
  }
}

.navigation__buttons {
  display: none;
}

.sun-moon-toggle {
  width: 46px;
  height: 46px;
  box-sizing: border-box;
  padding: 12px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.sun {
  width: 50%;
  height: 50%;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.6) rotate(0deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, #fbbc05 50%);
}

.sun:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    #fbbc05 30%,
    rgba(0, 0, 0, 0) 31%,
    rgba(0, 0, 0, 0) 50%,
    #fbbc05 51%
  );
  transform: rotate(45deg);
}

.sun.visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) rotate(180deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}


.moon {
  width: 50%;
  height: 50%;
  pointer-events: none;
  position: absolute;
  left: 12.5%;
  top: 18.75%;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 50%;
  box-shadow: 9px 3px 0px 0px #f0f0f0;
  opacity: 0;
  transform: scale(0.3) rotate(65deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.moon.visible {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1) rotate(0deg);
  transition: transform 0.3s ease-in, opacity 0.2s ease-in 0.1s;
}

.star {
  position: absolute;
  top: 25%;
  left: 5%;
  display: block;
  width: 0px;
  height: 0px;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #f0f0f0;
  border-left: 7px solid rgba(0, 0, 0, 0);
  transform: scale(0.55) rotate(35deg);
  opacity: 0;
  transition: all 0.2s ease-in 0.4s;
}

.star:before {
  border-bottom: 5px solid #f0f0f0;
  border-left: 3px solid rgba(0, 0, 0, 0);
  border-right: 3px solid rgba(0, 0, 0, 0);
  position: absolute;
  height: 0;
  width: 0;
  top: -3px;
  left: -5px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  color: red;
  top: 0px;
  left: -7px;
  width: 0px;
  height: 0px;
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-bottom: 5px solid #f0f0f0;
  border-left: 7px solid rgba(0, 0, 0, 0);
  transform: rotate(-70deg);
  content: "";
}

.moon.visible .star {
  opacity: 0.8;
}

.star.small {
  transform: scale(0.35) rotate(35deg);
  position: relative;
  top: 50%;
  left: 37.5%;
  opacity: 0;
  transition: all 0.2s ease-in 0.45s;
}

.moon.visible .star.small {
  opacity: 0.7;
  transform: scale(0.45) rotate(35deg);
}

@media (max-width: 1100px) {
  .navbar__menu {
    display: none !important;
  }

  .navbar__menu.open {
    display: flex;
  }

  .navigation__buttons {
    display: block !important;
  }
}

