<div class="navbar">
  <a [routerLink]="['/']" class="logo-link" (click)="preventReload($event)">
    <img
      src="../../../assets/c2silogo-dark_no_bg.png"
      alt="C2SI Logo"
      class="logo"
    />
  </a>
  <div [ngClass]="{ navbar__menu: true, open: isMenuOpen }" id="navbarMenu">
    <div
      class="navbar__menu__items"
      routerLink="/"
      [class.active]="isRouteActive('/')"
    >
      <img src="../../../assets/home.svg" alt="Home Icon" />
      <p>Home</p>
    </div>
    <div
      class="navbar__menu__items"
      routerLink="/projects"
      [class.active]="isRouteActive('/projects')"
    >
      <img src="../../../assets/projects.svg" alt="Projects Icon" />
      <p>Projects</p>
    </div>
    <div
      class="navbar__menu__items"
      routerLink="/publications"
      [class.active]="isRouteActive('/publications')"
    >
      <img src="../../../assets/publications.svg" alt="Publications Icon" />
      <p>Publications</p>
    </div>
    <div
      class="navbar__menu__items"
      routerLink="/contributors"
      [class.active]="isRouteActive('/contributors')"
    >
      <img src="../../../assets/contributors.svg" alt="Contributors Icon" />
      <p>Contributors</p>
    </div>
    <div
      class="navbar__menu__items"
      routerLink="/community"
      [class.active]="isRouteActive('/community')"
    >
      <img src="../../../assets/community.svg" alt="Community Icon" />
      <p>Community</p>
    </div>
    <div
      class="navbar__menu__items"
      routerLink="/gsoc"
      [class.active]="isRouteActive('/gsoc')"
    >
      <img src="../../../assets/gsoc.svg" alt="GSoC Icon" />
      <p>GSoC 26</p>
    </div>
    <button
      class="navbar__menu__items Login_Logout"
      (click)="toggleLoginOptions()"
    >
      <img
        [src]="
          isLoggedIn
            ? '../../../assets/logout.svg'
            : '../../../assets/login.svg'
        "
        alt="{{ isLoggedIn ? 'Logout Icon' : 'Login Icon' }}"
        class="login-logout-icon"
      />
      <p>{{ isLoggedIn ? "Logout" : "Login" }}</p>
    </button>

    @if (isLoggedIn) {
      <p>
        Welcome,<br />
        {{ user.name }}!
      </p>
    }

    @if (showLoginOptions && !isLoggedIn) {
      <div class="login-options">
        <button (click)="loginWithGoogle()">
          <img src="../../../assets/google.webp" alt="Google Icon" />
          <p>Login with Google</p>
        </button>
        <button (click)="loginWithGitHub()">
          <img src="../../../assets/community/github.png" alt="GitHub Icon" />
          <p>Login with GitHub</p>
        </button>
      </div>
    }

    <button
      class="sun-moon-toggle"
      aria-label="Toggle color mode"
      title="Toggle color mode"
      (click)="toggleMode()"
    >
      <div class="sun" [class.visible]="isSunVisible"></div>
      <div class="moon" [class.visible]="!isSunVisible">
        <div class="star"></div>
        <div class="star small"></div>
      </div>
    </button>
  </div>

  <div
    class="navigation__buttons"
    (click)="toggleMenu()"
    (keyup.enter)="toggleMenu()"
    tabindex="0"
  >
    <div class="nav-btn">
      @if (!isMenuOpen) {
        <img src="../../../assets/ham-menu.svg" alt="ham menu" />
      }
      @if (isMenuOpen) {
        <img src="../../../assets/cross.svg" alt="cross" />
      }
    </div>
  </div>
</div>
